/* .background {
    background-image: url('https://img.freepik.com/free-photo/green-field-with-sunny-day_1160-940.jpg?w=740&t=st=1729405672~exp=1729406272~hmac=019adb7be2c863ffc1881a33ccbd0c7acaf64935292d7bf16484b4591be419ab');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  } */